:root{
    --background-color:#3C5266;
    --primary-color: #D6E615;
    --secondary-color: #8A913D;
    --player-color: #1582E6;
    --computer-color: #AE0800;
    --winner-color: #0fff17;
    --input-text-color:#000000;
    
}
input::-webkit-input-placeholder {/* Chrome/Opera/Safari/Edge */
	color: var(--input-text-color);
    text-align: center;
    opacity: 70%;
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--input-text-color);
    text-align: center;
    opacity: 70%;
}

input:-ms-input-placeholder {/* IE 10+ */
	color: var(--input-text-color);
    text-align: center;
    opacity: 70%;
}
*{
    margin-top: 15px;
    background-color: var(--background-color);
    color: var(--primary-color);

}
.primaryColor{
    background-color:var(--primary-color);
    color: var(--input-text-color);
}
button.primaryColor:hover{
    background-color:var(--secondary-color);
    color: var(--input-text-color);
}
.playerColor{
    color:var(--player-color);
    font-weight: bold;
}
.computerColor{
    color:var(--computer-color);
    font-weight: bold;
}
.error{
    color: var(--computer-color);
    font-weight: bold;
}