:root{
    --primary-color: #660099;
    --secondary-color: #9900E6;
    --player-color: #0000FF;
    --computer-color: #FF0000;
    --text-color: #ffffff;
    
}
input::-webkit-input-placeholder {/* Chrome/Opera/Safari/Edge */
	color: var(--text-color);
    text-align: center;
    opacity: 50%;
}

input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text-color);
    text-align: center;
    opacity: 50%;
}

input:-ms-input-placeholder {/* IE 10+ */
	color: var(--text-color);
    text-align: center;
    opacity: 50%;
}
*{
    margin-top: 50px;
    background-color: black;
    color: var(--text-color);

}
.primaryColor{
    background-color:var(--primary-color);
    color: var(--text-color);
}
button.primaryColor:hover{
    background-color:var(--secondary-color);
    color: var(--text-color);
}
.playerColor{
    color:var(--text-color);
    text-shadow: 0 0 20px var(--player-color);
}
.computerColor{
    color:var(--text-color);
    text-shadow: 0 0 20px var(--computer-color);
}